{% extends 'base.html.twig' %}

{% block title %}Hello MemoryGameController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Memory Game</h1>
    <div class="row justify-content-md-center">
         <div id="board-game" class="col col-md-7">
         </div>
        <div id="timer" class="col-md-5"></div>
    </div>
</div>

<div id="modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bienvenue !</h5>
            </div>
            <div class="modal-body">
                <div id="modal-content" class="mb-5"></div>
                <div class="row justify-content-md-center">
                    <div id="scores" class="col">
                        <table class="table table-striped table-dark">
                            <thead>
                            <tr>
                                <th scope="col">Classement</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Temps</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
